/************************ tag Selectors  ********************/

body {
  text-align: center;
  background-color: #e4f9ff;
}

h1 {
  color: #005086;
}

h2 {
  color: #005086;
}

h3 {
  color: #005086;
}

div {
  text-align: center;
}

hr {
  border-style: dotted none none none;
  border-color: gray;
  border-width: 10px;
  width: 30%; 
}

table {
  margin: 0 auto;
  text-align: justify;
}


/************************ class selectors ********************/

.compass {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 300px;
  opacity: 0.5;
}

.earth {
  height: 80px;
  width: 80px;
  position: absolute;
  right: 300px;
  top: 150px;
  opacity: 0.5;
}

.degree {
  height: 120px;
  width: 120px;
}

.gis {
  height: 150px;
  width: 170px;
} 

.gisd {
  height: 120px;
  width: 180px;
}

.data {
  height: 170px;
  width: 200px;
}

.stack {
  height: 180px;
  width: 200px;
}

.career {
  height: 120px;
  width: 120px;
}

.eductation {
  text-align: justify;
}